{% include 'start.html' %}
{% include 'head.html' %}
<section class="talk">
        <h2 class="question">你想问我什么</h2>
        <a class="btn" onclick="get_btn('/sound1')">讲个笑话吧。</a>
        <a class="btn" onclick="get_btn('/sound2')">你叫什么名字？</a>
        <a class="btn" onclick="get_btn('/sound3')">讲个故事吧</a>
        <a class="btn" onclick="get_btn('/sound4')">你多大了？</a>
        <a class="btn" onclick="get_btn('/sound5')">谁创造了你？</a>
    </section>
    
    <section class="action">
        <h2 class="question">你让我做什么</h2>
        <a class="btn" onclick="get_btn('/sound1')">来段Rap吧</a>
        <a class="btn" onclick="get_btn('/sound2')">跳个舞</a>
        <a class="btn" onclick="get_btn('/sound3')">扭扭腰</a>
        <a class="btn" onclick="get_btn('/sound4')">挥挥手</a>
        <a class="btn" onclick="get_btn('/sound5')">眨眼睛</a>

        <form action="/play/" method="post">
        <table>
            <tbody>
                <tr>
                    <td>指令</td>
                    <td><input type="text" placeholder="输入指令" name = 'instruction'></td>
                    <td><input type="submit" value="运行"></td>
                </tr>
            </tbody>
        </table>
        </form>
        
        <h3><img src="{{ url_for('video_feed') }}" width="100%"></h3>
    </section>
{% include 'end.html' %}
